<!-- just display the appointments array that is passed from filterAppointments.js -->

<head>
    <title>View Appointments</title>
</head>

<!-- the appointments is already filtered, just display them -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>View Appointments</h1>
                <!-- add break line -->
                <br>
                <!-- add a table to display the appointments -->
                <table>
                    <tr>

                        <th>doctorUserName</th>
                        <th>patientUserName</th>
                        <th>Date  </th>
                        <th>Status</th>
                    </tr>
                    <!-- loop through the appointments array and display each appointment -->
                    <% for (var i = 0; i < appointments.length; i++) { %>
                    <tr>
                        <td><%= appointments[i].doctorUserName %></td>
                        <td><%= appointments[i].patientUserName %></td>
                        <td><%= appointments[i].date %></td>
                        <td><%= appointments[i].status %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</body>
