<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" id="Username" name="Username" placeholder="username">
    <input type="password" id="password" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>
