<!-- register_patient.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration</title>
</head>
<body>
<h1>Patient Registration</h1>

<!-- Patient Registration Form -->
<form action="/admin/createAdmin" method="POST">
    <!-- Basic Information -->
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username" required>

    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" >

    <label for="Email">Email:</label>
    <input type="Email" id="Email" name="Email">

    <label for="Password">Password:</label>
    <input type="Password" id="Password" name="Password" required>

    <!-- Submit Button -->
    <button type="submit">Register</button>
</form>
</body>
</html>
